@using AspnetcoreBlazorServerExample.Models
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Image</th>
      <th scope="col">Item</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var category in Categories)
    {
    <tr>
        <td>@category.Name</td>
        <td>
        @if (SelectedItemInCategory(category) != null)
        {
            <img style="height: 50px;" src="@SelectedItemInCategory(category).Image" alt="Card image cap">
        }            
        </td>
        <td>
        @if (SelectedItemInCategory(category) != null)
        {
            @SelectedItemInCategory(category).Name
        }            
        </td>
        <td>
        @if (SelectedItemInCategory(category) != null)
        {
            @SelectedItemInCategory(category).Price
        }            
        </td>    
    </tr> 
    }
    <tr class="table-active">
        <td colspan="3"><strong>Total: </strong></td>
        <td><strong>@GetTotal()</strong></td>
    </tr>
  </tbody>
</table>

@code {
    [Parameter]
    public List<Category> Categories { get; set; }

    [Parameter]
    public EventCallback<List<Category>> CategoriesChanged { get; set; }

    private string GetTotal()
    {
        decimal total = 0;

        Categories.ForEach(c =>
        {
            var item = SelectedItemInCategory(c);

            if (item != null)
            {
                total += item.Price;
            }
        });

        return "$" + total.ToString();
    }

    private Item SelectedItemInCategory(Category category)
    {
        return category.Items.Where(x => x.Selected == true).Any() ? category.Items.Where(x => x.Selected == true).FirstOrDefault() : null;
    }

    private string RenderSelectedCategoryItem(Category category)
    {
        var item = SelectedItemInCategory(category);

        if (item != null)
        {
            return item.Name + " - $" + item.Price.ToString();
        }
        return "";
    }
}