@using AspnetcoreBlazorServerExample.Data
@using AspnetcoreBlazorServerExample.Models
@inject ItemService ItemService

<div>
    <Cart @bind-Categories="categories" @bind-Categories:event="CategoriesChanged" />
    @foreach(var category in categories)
    {      
        <div class="container-fluid">
            <h3>@category.Name</h3>
            <h4>Selected: @SelectedItemInCategoryName(category) @SelectedItemInCategoryPrice(category)</h4> 
            <div class="row flex-nowrap">
            @foreach(var item in category.Items)
            {
                <CategoryItem @bind-Categories="categories" Category="@category" @bind-Selected="selected" Item="@item" Name="@item.Name" Image="@item.Image" Price="@item.Price" />
            }
            </div>
        </div>
    }
</div>


@code {    
    private string selected;

    private List<Category> categories;

    protected override async Task OnInitializedAsync()
    {
        categories = await ItemService.GetAllCategoriesAsync();
    }

    private Item SelectedItemInCategory(Category category)
    {
        return category.Items.Where(x => x.Selected == true).Any() ? category.Items.Where(x => x.Selected == true).FirstOrDefault() : null;
    }

    private string SelectedItemInCategoryName(Category category)
    {
        return SelectedItemInCategory(category)?.Name;
    }

    private string SelectedItemInCategoryPrice(Category category)
    {
        var item = SelectedItemInCategory(category);

        if (item != null)
        {
            return " - $" + item.Price.ToString();
        }
        return "";
    }
}